* {
    padding: 0;
    margin: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(https://i.postimg.cc/26gMH9t2/a.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}

.navbar {
    width: 95%;
    height: auto;
    margin-left: 30px;
}

.logo {
    color: #ff7200;
    font-size: 50px;
    font-family: Arial;
    float: left;
    padding-top: .6%;
    cursor: pointer;
    padding-left: 35px;
}

.menu {
    width: 600px;
    float: left;
    height: 70px;
}

ul {
    float: left;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 14%;
}

ul li{
    list-style: none;
    margin-left: 70px;
    font-size: 22px;
    position: relative;
    left: 120px;
}

ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: .3s ease;
}

ul li a:hover{
    color: #ff7200;
}

.search-box {
    float: right;
    width: 240px;
    background: white;
    height: 30px;
    padding: 8px;
    border-radius: 15px;
    margin-top: 1.5%;
    margin-right: 6%;
}

.search-box .search-txt{
    width: 190px;
    padding: 0 6px;
}

.search-btn{
    text-decoration: none;
    background: white;
    color: black;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: black;
    font-size: 16px; 
    line-height: 30px;
    letter-spacing: .6px;
}

.title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title h1{
    cursor: pointer;
    font-family: Arial;
    color: white;
    font-size: 85px;
}

.button {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid white;
    transition: .3s ease;
}

.btn:hover{
    background-color: white;
    color: black;
}